.dialog {
  border: none;
  border-radius: 4px 4px;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.75;
  }

  &__close-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    top: 0.5rem;
    right: 0.5rem;

    &:hover {
      cursor: pointer;
    }

    svg {
      font-size: 1.5rem;
    }
  }
}
