form {
  padding: 1rem;

  .react-select-element__option:active {
    background-color: #98ac3b;
  }

  .react-select-element__control {
    border-radius: 4px 4px;
  }

  .react-datepicker__view-calendar-icon input {
    padding: 6px 10px 5px 2rem;
  }

  .react-datepicker__input-container .react-datepicker__calendar-icon {
    padding: 0.65rem;
  }

  .react-datepicker__day--keyboard-selected,
  .react-datepicker__day--selected,
  .react-datepicker__day--selected:not([aria-disabled="true"]):hover {
    background-color: #98ac3b;
    color: white;
  }

  .react-datepicker__day--keyboard-selected:not([aria-disabled="true"]):hover {
    background-color: black;
    color: white;
  }

  .form-control:focus {
    color: black;
    background-color: white;
    border: 2px solid #98ac3b;
    outline: 0;
    box-shadow: none;
  }

  .error-message {
    color: red;
    font-style: italic;
    font-size: 0.875rem;
  }

  fieldset {
    border: 1px solid #ccc;
    padding: 1.5rem;
  }
}
