*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #eee;
}

#root {
  position: relative;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.content {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 10px 5px 5px #eee;
  padding: 2rem 2rem;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.btn {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem 0.25rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.3ms ease-in-out;

  &--primary {
    background-color: white;
    color: black;
    border: none;
  }

  &--secondary {
    background-color: #98ac3b;
    color: white;
    border: none;

    &:hover {
      background-color: #798b2a;
    }
  }

  &--disabled {
    background-color: #eee;
    color: #ccc;
    border: none;
  }

  &:hover {
    cursor: pointer;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
