*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #eee;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.btn-primary {
  background-color: #98ac3b;
  border: 1px solid #98ac3b;
  color: white;

  &:hover {
    background-color: #5c6827;
    border: 1px solid #5c6827;
    color: white;
  }
}

.btn:focus-visible,
.btn:focus,
:not(.btn-check) + .btn:active {
  color: white;
  background-color: #5c6827;
  border-color: #98ac3b;
  outline: 0;
  box-shadow: none;
}

.btn:first-child:active {
  color: white;
  background-color: #5c6827;
  border-color: #98ac3b;
  outline: 0;
  box-shadow: none;
}

.btn-secondary {
  background-color: white;
  border: 1px solid black;
  color: black;

  &:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }
}

.card {
  margin-bottom: 2.5rem;
}

.form-control:focus,
.form-select:focus {
  color: black;
  background-color: white;
  border: 2px solid #98ac3b;
  outline: 0;
  box-shadow: none;
}
