.table {
  &-top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    .table-length {
      select {
        margin: 0 0.5rem;
      }
    }

    .table-filter {
      display: flex;
      align-items: center;

      input {
        margin-left: 0.5rem;
        width: 15rem;
        min-height: 2rem;
        padding: 0.25rem;
        border: 1px solid #ccc;
        border-radius: 4px 4px;
      }
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }

  &-info {
    p {
      margin: 0 0;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0;
}

tbody th,
tbody td {
  padding: 0.625rem 0.625rem;
}

tbody tr:nth-child(even) {
  border-bottom: 0;
  background-color: rgb(241.3, 241.3, 241.3);
}
