header {
  background-color: black;
  padding: 1rem 1rem;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: white;
      text-decoration: none;
    }
  }
}
